/*
All images used belong to:

Markus Spiske - https://500px.com/markusspiske (Links to an external site.)Links to an external site. 

Yinan Chen - https://500px.com/webmaster85 (Links to an external site.)Links to an external site. 

Fahim Akhter - https://500px.com/fahimakhter (Links to an external site.)Links to an external site. 

 
*/
ul{
    list-style: none;
}
li{
    float:left;
    margin-top: 2.5%;
    
    
}
img, source{
    max-width: 90%;
    transition: transform 0.5s ease-in-out;
/*    display:block;*/
    
    
}


img:hover, source:hover {
    transform:scale(0.1,0.1);
    z-index:20;
}

@media screen and (min-width:600px){
    li{
        width: 50%;
        
        
    }
}
@media screen and (min-width:1201px){
    li{
        width: 25%;
        
    }
}
